server:
  port: 0

spring:
  application:
    name: EmailNotificationMicroservice
  kafka:
    bootstrap-servers: localhost:9092,localhost:9094
    consumer:
#      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer

      properties:
        spring.json.trusted.packages: "com.kamenskiy.io.core"

consumer:
  group-id: "product-created-events"